body {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #333;
  color: #fff;
  min-height: 90vh;
  margin: auto 40px;
}

header {
  text-align: center;
}

progress {
  width: 100%;
  background-color: transparent;
}

progress::-webkit-progress-bar {
  background-color: #504f4f;
  border-radius: 40px;
}

progress::-webkit-progress-value {
  background-color: slateblue;
  border-radius: 30px;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header h1 {
  font-size: 3em;
  margin: 30px 0 30px;
}

.options {
  display: block;
}

.option {
  width: 100%;
  text-align: start;
  padding: 12px;
  margin: 10px 0px;
  font-size: 19px;
  background-color: #504f4f;
  border: 1px solid #504f4f;
  color: #fff;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.5s;
}

.option:hover {
  transform: translateX(20px);
  background-color: #4747476e;
}

.option.correct.answer,
.option.wrong.answer {
  transform: translateX(30px);
}

.option.correct {
  transform: translateX(0px);
  cursor: not-allowed;
  background-color: slateblue;
  border: none;
}
.option.wrong {
  cursor: not-allowed;
  transform: translateX(0px);
  background-color: orange;
  border: none;
}

.btn {
  padding: 10px 20px;
  font-size: 19px;
  background-color: transparent;
  border: 1px solid #504f4f;
  color: #fff;
  border-radius: 30px;
  cursor: pointer;
}

footer {
  margin: 30px 0px;
}

.finish-quiz {
  background-color: #504f4f0c;
  padding: 30px;
  box-shadow: inset 0px 3px 50px #696969b2;
}

.finish-quiz p {
  background-color: slateblue;
  padding: 10px;
  margin: 20px 50px;
}

.spinner {
  width: 40px;
  height: 40px;
  margin: 100px auto;
  border: 6px dotted rgba(0, 0, 0, 0);
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
    border-right: 6px dotted slateblue;
    border-left: 6px dotted slateblue;
    border-top: 6px dotted slateblue;
  }

  100% {
    border-right: 6px dotted slateblue;
    border-left: 6px dotted slateblue;
    border-top: 6px dotted slateblue;
    transform: rotate(360deg);
  }
}


.reg-form {
  background-color: #fff;
  padding: 30px;
}

main button {
  background-color: #fff;
  color: #000;
  border: none;
  padding: 10px 20px;
  border-radius: 15px;
  font-weight: 600;
  cursor: pointer;

}

header button:hover {
  background-color: slateblue;
} 

main button:hover {
  opacity: 0.7;
  /* background-color: #fff; */
}

@media (max-width: 600px) {
  header h1 {
    font-size: 2em;
  }
  .option,
  .btn {
    font-size: 17px;
  }

  footer {
    margin: 20px 0px;
  }

  .finish-quiz {
    padding: 30px;
    /* margin: 0px 5%; */
  }
}

.reg-form input {
  display: block;
  margin: 15px 0px;
  background: transparent;
  padding: 10px;
  color: #000;
  outline-color: slateblue;
}
